body{
    padding: 0; /*esta tirando o espaço do canto da pagina*/
    margin: 0; /*está diminuindo a margem da pagina*/
}
.conteiner{
    width: 960px; /*está ajustando a caixa da div*/
    margin:auto; /*está medindo automaticamente as margens esquerda e direita para centralizar*/
}
header{ 
    background-color: #000000; /*está alicando a cor no cabeçalho*/
    color: #ffffff; /*está alterando a cor da fonte*/
}
header .conteiner{
    display: flex; 
    align-items: center;
}
#logo{
    width: 250px; /*diminuindo o tamanho geral do logo*/
}
#logo img{
    width: 100%; /*mantendo a qualidade de imagem 100%*/
}
#direita{
    flex-grow: 1;
    text-align: center;
}
#direita p{
    letter-spacing: 5px;
    font-size: 14px;
    font-style: italic;
}

header nav{
    display: flex;
    justify-content: space-between;
}
header nav a{
    text-decoration: none; /* NONE tira sublinhado de link*/
    color: #ffffff;
    padding: 5px;
    text-transform: uppercase;
}
header nav a:hover{
    background-color: #0000ff;
    color: #ffffff;
}

footer{
    background-color: #000000; /*cor de fundo do rodapé*/
    color: #ffffff; /* cor da fonte*/
    text-align: center; /* centralizando*/
    padding: 20px; 
}
footer nav{
    display: flex; /* mantém os elementos lado a lado*/
    justify-content: space-between; /*ativado somente pelo display flex, ajusta com o espaço da tela dispinível*/
}
footer nav a{
    text-decoration: none;
    color: #ffffff;
}
footer nav a:hover{
    color: #0000ff;
    text-decoration: overline underline; /* OVERLINE UNDERLINE aplica sublinhado de link*/ 
}
main{
    margin: auto; /*ajustou automáticamente as margens*/
    width: 960px; /*determiniou a área onde o conteúdo vai ficar*/
    min-height: 430px; /*determina o espaço minímo que o rodapé ocupara*/
}
main h1{
    text-align: center; /*alinhamento*/
}
.texto_banner{
    font-size: 30pt; /*aumentou a fonte*/
    text-align: center; /*centralizou*/
    margin: 20px 0px; /*aumentou o espaço entre os textos que estavam colados no cabeçalho e rodapé*/
}
#assistir{
    text-decoration: none;
    background-color: #3b3ba7;
    display: block; /*tag de caixa que permite manipular altura e largura, e permite editar um link que é tag de linha*/
    width: 300px;
    height: 50px; /*linha da caixa*/
    color: #f0ffff;
    margin: auto;
    font-size: 18pt; /*diminui o tamanho da fonte*/
    line-height: 50px; /*alinhado a fonte com a linha da caixa já determinada*/
    border-radius: 20px;/*arredonda as bordas*/
}
.destaque{
    background-color: #9ccde4; /*aplicou uma cor dentro da section*/
    margin-top: 20px; /*aplicou uma margem em cima*/
    margin-bottom: 20px; /*aplicou uma margem em baixo*/
    padding: 20px;/*espaçamento do conteúdo dentro da box*/
    border-radius: 10px; 
    box-shadow: 0px 0px 15px #000; /*aplicou sombra nas bordas*/
}
.destaque div{
    display: flex; /*flex=força o conteúdo a ficar um do lado do outro*/
}
.destaque figure img{
    width: 150px;
}
#assinar{
    text-decoration: none;
    display: block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    font-size: 18pt;
    color: #fff;
    border-radius: 20px;
    background-color: #6b7207;
    margin: auto;
}
.programacao{
    display: flex;
    flex-wrap: wrap;
}
.programacao h3{
    width: 100%;
}
.programacao article img{
    width: 150px;
}
.programacao article figcaption{
    width: 100%;
    display: flex;
}
#galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#galeria img{
    width: 200px;
    margin:10px 8px;
}
#destaque_plus{
    display: flex;
    justify-content: space-between;
}
#destaque_plus figcaption{
    text-align: center;
}
.planos{
    width: 300px;
    text-align: center;
    margin: 20px auto;
    border: 2px solid #309e3a;
    border-radius: 50px;
    padding: 50px;
}

.planos ul{
    text-align: left;
}
.planos span{
    font-size: 22pt;
    color: #1c08d1;
}
#contato{
    display: flex;
    justify-content: space-around;
}
input,textarea{
    display: block;
    background-color: #ccc;
    margin: 20px;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    border: none;
}
#contato button{
    font-size: 18pt;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #ee0808;
    border-radius: 50px;
    border: none;
}
